# dependencies
node_modules/

#backend
backend/db.json

# build
dist/
dist-ssr/
.vite/

# env
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.idea/
.vscode/
*.swp
